# GIS Paths
GIS_WORKING_DIR=
SDE_CONNECT_DIR=
SDE_DATABASE_COLLECT=

# Database Credentials
DB_USER=
DB_PASSWORD=

# SQL Server Config
SQL_DRIVER=ODBC Driver 17 for SQL Server
SQL_SERVER_SDE=
SQL_DATABASE_SDE=
SQL_DATABASE_COLLECT=
SQL_DATABASE_TABULAR=
SQL_SERVER_BMP=
SQL_DATABASE_BMP=

# Box API Credentials
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_USER_ID=

# LTInfo API Tokens
LTINFO_ACCELA_TOKEN=
LTINFO_WEBSERVICES_TOKEN=

# Email
EMAIL_SENDER=
EMAIL_RECEIVER=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
